// promo
section.promo
  .promo__container
    .promo__offer
      h1.promo__title Хочешь попробовать форекс без риска?
      p.promo__text Торгуй на демо-счете лучшего брокера Ближнего Востока!

    a.logo(href="#")
      img(src="images/logo.png", alt="Логотип")

    .offer-form
      h3.offer-form__title Open an account with FBS <br>
        span  and start making profit
      form.offer-form__form
        input(type="text", placeholder="Full name")
        input(type="email", placeholder="E-mail", required)
        input(type="checkbox", id="lisense", required, checked)
        label(for="lisense") I accept #[a(href="#", target="_blank") Customer Agreement conditions]
        input(type="submit" value="Open account")
