// soviet
section.soviet
  .soviet__container
    h2.soviet__title Советы трейдеров FBS
  .soviet__wrapper
    .soviet__container
      blockquote.soviet-bq
        .soviet-bq__header
          cite Imran Subagyo, Индонезия
            img.soviet-bq__author-country--indonesia(src="images/sprite/soviet-item__flag--indonesia.png", alt="Индонезия")
          span.soviet-bq__income Ежемесячный доход на Форекс: <b>$56 000</b>
        .soviet-bq__content
          img(src="images/soviet-item__avatar--imran.jpg", alt="Imran Subagyo")
          p.soviet-bq__text Я хочу посоветовать даже опытным трейдерам начинать торговлю с новым брокером с демо-счета. Даже зная, что FBS – один из самых надежных брокеров, я сначала убедился в этом, торгуя на демо.

      blockquote.soviet-bq
        .soviet-bq__header
          cite Jamnong Suraphong, Таиланд
            img.soviet-bq__author-country--thailand(src="images/sprite/soviet-item__flag--thailand.png", alt="Тайланд")
          span.soviet-bq__income Ежемесячный доход на Форекс: <b>$42 000</b>
        .soviet-bq__content
          img(src="images/soviet-item__avatar--jamnong.jpg", alt="Jamnong Suraphong")
          p.soviet-bq__text Главное качество трейдера – не давать эмоциям взять верх. Даже если вам хочется немедленно начать зарабатывать, посветите несколько дней оттачиванию своей торговой стратегии и знакомству с торговой платформой, торгуя на демо-счете. Будьте разумны, и судьба непременно вознаградит вас!

      blockquote.soviet-bq
        .soviet-bq__header
          cite Walid Aljaber, Саудовская Аравия
            img.soviet-bq__author-country--saudi-arabia(src="images/sprite/soviet-item__flag--saudi-arabia.png", alt="Саудовская Аравия")
          span.soviet-bq__income Ежемесячный доход на Форекс: <b>$27 000</b>
        .soviet-bq__content
          img(src="images/soviet-item__avatar--walid.jpg", alt="Walid Aljaber")
          p.soviet-bq__text Я торгую с FBS уже больше 5 лет. Очень многие друзья, видя мои успехи, занялись тем же. Часто они просят меня научить их торговать так же успешно, как я. Я советую им открыть демо-счет и торговать, пока успехи в торговле не станут стабильными. Это универсальный и лучший вариант для всех!
