// goods
section.goods
  .goods__container
    h1.goods__title Выбирай, чем хочешь торговать!
    span.goods__text в одной платформе

    ul.goods__list
      li.goods__item.goods__img.goods__img--currency
        span Валюты
      li.goods__item.goods__img.goods__img--metal
        span Металлы
      li.goods__item.goods__img.goods__img--cfd
        span CFD на фьючерсы
