// goods
section.goods
  .goods__container
    h1.goods__title= langText[4]
    span.goods__text= langText[5]

    ul.goods__list
      li.goods__item.goods__img.goods__img--currency
        span Валюты
      li.goods__item.goods__img.goods__img--metal
        span Металлы
      li.goods__item.goods__img.goods__img--cfd
        span CFD на фьючерсы
