.footer {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 42px;

  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 12px;
  }

  &__container {
    @include container;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;

    @media (min-width: 992px) {
      padding: 0 140px;
    }

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 20px;
    }

    a {
      text-decoration: none;
    }
  }
}
