// footer
footer.footer
  .footer__container
    p.footer__text © 2009-2016 FBS Markets Inc. <br> Копирование, тиражирование, перепечатка, а равно размещение в интернете материалов сайта #[a(href="https://fbs.com/") www.fbs.com] возможно только с письменного разрешения. #[a(href="https://fbs.com/about#contacts") Связаться с нами.]
