// main-advantage
section.main-advantage
  .main-advantage__container
    .main-advantage__img
      img(src="images/main-advantage--devices.png", alt="4 платформы")
    .main-advantage__text-wrap
      h2.main-advantage__title= langText[6]
      p.main-advantage__text= langText[7]
      //- <br> Исполнение сделок  без реквот и проскальзываний
