// main-advantage
section.main-advantage
  .main-advantage__container
    .main-advantage__img
      img(src="images/main-advantage--devices.png", alt="4 платформы")
    .main-advantage__text-wrap
      h2.main-advantage__title 4 платформы на твой выбор
      p.main-advantage__text Торговля на любых устройствах  + прямо в браузере <br> Исполнение сделок  без реквот и проскальзываний
