* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

a {
  color: $color-primary;
}
