// colors
$color-primary: #558834;
$color-secondary: #515f74;

$color-btn-hover: lighten($color-primary, 10%);
$color-btn-active: darken($color-primary, 10%);

// container-width
$container-xs: 100%;
$container-sm: 750px;
$container-md: 960px;

@mixin container {
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  width: $container-md;

  @media (min-width: 768px) and (max-width: 992px) {
    width: $container-sm;
  }

  @media (max-width: 767px) {
    width: $container-xs;
  }
}

// fonts
$font-primary: "Open Sans", "Helvetica", "Arial", sans-serif;
@mixin font-italic {
  font-style: italic;
}
@mixin font-bold {
  font-weight: 700;
}
