// footer-cta
section.footer-cta
  .footer-cta__container
    .footer-cta__text-wrap
      span.footer-cta__text= langText[29]
      h2.footer-cta__title= langText[30]
      a.btn.footer-cta__btn(href="https://my.fbs.com/registration/demo")= langText[31]
    .footer-cta__img-wrap
      img(src="images/success-man.png", alt="Успешный человек")
