// footer-cta
section.footer-cta
  .footer-cta__container
    .footer-cta__text-wrap
      span.footer-cta__text Не жди, когда другие заработают твои деньги!
      h2.footer-cta__title Открой демо-счет сейчас!
      a.btn.footer-cta__btn(href="#") Открыть счет
    .footer-cta__img-wrap
      img(src="images/success-man.png", alt="Успешный человек")
