// call to action
section.call-to-action
  .call-to-action__container
    .call-to-action__wrap
      h2.call-to-action__title Выигрывай $450 дважды в месяц!
      p.call-to-action__text Прокачивай свою торговлю в конкурсе на демо-счетах
