// advantages
section.advantages
  .advantages__container
    h2.advantages__title ТОП-5 причин открыть счет в FBS:

    ul.advantages__list
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--dollar
        span.advantages__item-text Депозиты <br> от $1
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--purse
        span.advantages__item-text Быстрый вывод <br> средств
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--support
        span.advantages__item-text Поддержка 24/5 <br> на 11 языках
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--iphone
        span.advantages__item-text iPhone 6s в подарок <br> постоянным клиентам
      li.advantages__item-wrap
        .advantages__item
          i.advantages__item--discount
        span.advantages__item-text Бонусы, акции и <br> конкурсы non-stop
